
// Import mix-ins
@import "parts/mixins.less";

// ============================
// Common Website Styling
// ============================

html,body {
	width: 100%;
	height: 100%;
}

body {
	overflow: hidden;
	background: #000;
}

svg {
	vertical-align: middle;
}

// ============================
// Main Application Window
// ============================

#app {

	// Make app fill parent
	.fillparent();

	// ============================
	// Content container
	// ============================

	.icnz-conent {

		// Make container fill parent
		.fillparent();

	}

	// ============================
	// Main application viewport
	// ============================

	.icnz-viewport {

		// Make viewport fill parent
		.fillparent();

		//
		// This is where the game goes
		//
		.icnz-canvas {
			.fillparent();
		}

		#debug-window {
			position: absolute;
			left: 5px;
			bottom: 5px;
			font-size: 14px;
			font-weight: bold;
			color: #FFF;
			font-family: Courier New, Courier, Lucida Sans Typewriter, Lucida Typewriter, monospace;
			padding: 5px;
			border-radius: 5px;
			background-color: rgba(0,0,0,0.8);
		}

	}

	// Import parts
	@import "parts/hade.less";
	@import "parts/message-panel.less";
	@import "parts/error-frame.less";
	// @import "parts/welcome.less";
	@import "parts/interaction.less";

}
